#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // antes 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25    // antes 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// Escaladores de movimiento y scroll
&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

// Scroll config
&msc {
   acceleration-exponent = <1>;
   time-to-max-speed-ms = <300>;
   delay-ms = <0>;
};

// Mouse move config
&mmv {
   time-to-max-speed-ms = <300>;
   acceleration-exponent = <1>;
   trigger-period-ms = <16>;
};

// Apagado suave
&soft_off {
   hold-time-ms = <4000>;
   /delete-property/ split-peripheral-off-on-press;
};

// =========================
// BEHAVIORS
// =========================
/ {
      behaviors {
         // =========================
         // Tap-Dance
         // =========================
         td_SHFT: td_SHFT {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
         };

         td_TAB: td_TAB {
            compatible = "zmk,behavior-tap-dance";
            display-name = "TAB/BACK TAP";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp TAB>, <&kp LS(TAB)>;
         };

         td_Layers: td_Layers {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Intercambio L1 y L2";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&tog 1>, <&tog 2>;
         };

         td_comment: td_comment {
            compatible = "zmk,behavior-tap-dance";
            display-name = "n/ñ";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mac_comment>, <&mac_uncomment>;
         };

         // =========================
         // VOCALES Y ñ
         // =========================
         td_a: td_a {
            compatible = "zmk,behavior-tap-dance";
            display-name = "a/á";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp A>, <&mac_a>;
         };

         td_o: td_o {
            compatible = "zmk,behavior-tap-dance";
            display-name = "o/ó";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp O>, <&mac_o>;
         };

         td_e: td_e {
            compatible = "zmk,behavior-tap-dance";
            display-name = "e/é";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp E>, <&mac_e>;
         };

         td_u: td_u {
            compatible = "zmk,behavior-tap-dance";
            display-name = "u/ú";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp U>, <&mac_u>;
         };

         td_i: td_i {
            compatible = "zmk,behavior-tap-dance";
            display-name = "i/í";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp I>, <&mac_i>;
         };
         
         td_n: td_n {
            compatible = "zmk,behavior-tap-dance";
            display-name = "n/ñ";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp N>, <&mac_n>;
         };
         
         // =========================
         // Mod-Morphs
         // =========================
         mm_pg_up: mm_pg_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp PG_UP>;
            mods = <MOD_LCTL>;
         };

         mm_pg_dn: mm_pg_dn {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp PAGE_DOWN>;
            mods = <MOD_LCTL>;
         };

         mm_pg_lf: mm_pg_lf {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp HOME>;
            mods = <MOD_LCTL>;
         };

         mm_pg_rh: mm_pg_rh {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp END>;
            mods = <MOD_LCTL>;
         };

         // BackSpace | Suprim
         mm_bks_del: mm_bks_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <MOD_LSFT>;
         };

         mm_dot_alter: mm_dot_alter {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp F1>;
            mods = <MOD_RALT>;
         };

         mm_p_run: mm_p_run {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp F2>;
            mods = <MOD_RALT>;
         };

         mm_y_close: mm_y_close {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp F4>;
            mods = <MOD_RALT>;
         };

         
         // =========================
         // Hold-Taps
         // =========================
         // Soft Off
         ht_so_q: ht_so_q {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            bindings = <&soft_off>, <&mac_q>;        
         };

         // Escape Close
         ht_cls_esc: ht_cls_esc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            bindings = <&mac_cls>, <&mac_esc>;        
         };
      };

      macros {
         // =========================
         // Acentos
         // =========================
         mac_a: mac_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
               <&macro_press   &kp RGUI>,
               <&macro_tap     &kp APOSTROPHE>,
               <&macro_tap     &kp A>,
               <&macro_release &kp RGUI>;
         };

         mac_e: mac_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
               <&macro_press   &kp RGUI>,
               <&macro_tap     &kp APOSTROPHE>,
               <&macro_tap     &kp E>,
               <&macro_release &kp RGUI>;
         };

         mac_i: mac_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
               <&macro_press   &kp RGUI>,
               <&macro_tap     &kp APOSTROPHE>,
               <&macro_tap     &kp I>,
               <&macro_release &kp RGUI>;
         };

         mac_o: mac_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
               <&macro_press   &kp RGUI>,
               <&macro_tap     &kp APOSTROPHE>,
               <&macro_tap     &kp O>,
               <&macro_release &kp RGUI>;
         };

         mac_u: mac_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
               <&macro_press   &kp RGUI>,
               <&macro_tap     &kp APOSTROPHE>,
               <&macro_tap     &kp U>,
               <&macro_release &kp RGUI>;
         };

         mac_n: mac_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
               <&macro_press   &kp RGUI>,
               <&macro_tap     &kp TILDE>,
               <&macro_tap     &kp N>,
               <&macro_release &kp RGUI>;
         };

         mac_q: mac_q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Q>;
         };

         mac_esc: mac_esc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp ESC>;
         };

         // =========================
         // Comentarios
         // ========================= 
         mac_comment: mac_comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = 
               <&macro_press   &kp LEFT_CONTROL>,
               <&macro_press   &kp K>,
               <&macro_tap     &kp C>,
               <&macro_release &kp K>,
               <&macro_release &kp LEFT_CONTROL>;
         };
 
         mac_uncomment: mac_uncomment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = 
               <&macro_press   &kp LEFT_CONTROL>,
               <&macro_press   &kp K>,
               <&macro_tap     &kp U>,
               <&macro_release &kp K>,
               <&macro_release &kp LEFT_CONTROL>;
         };
 
         mac_cls: mac_cls {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = 
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LALT>,
               <&macro_tap     &kp ESC>,
               <&macro_release &kp LALT>,
               <&macro_release &kp LCTRL>;
         };

         mac_or: mac_or {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp A>,
               <&macro_tap     &kp 9>,
               <&macro_tap     &kp ENTER>;
         };

         mac_reg: mac_reg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp A>,
               <&macro_tap     &kp E>,
               <&macro_tap     &kp ENTER>;
         };

         mac_tm: mac_tm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 2>,
               <&macro_tap     &kp 1>,
               <&macro_tap     &kp 2>,
               <&macro_tap     &kp 2>,
               <&macro_tap     &kp ENTER>;
         };

         mac_cent: mac_cent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp A>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp ENTER>;
         };

         mac_euro: mac_euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 2>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp A>,
               <&macro_tap     &kp C>,
               <&macro_tap     &kp ENTER>;
         };

         mac_pound: mac_pound {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp A>,
               <&macro_tap     &kp 3>,
               <&macro_tap     &kp ENTER>;
         };

         mac_yen: mac_yen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp A>,
               <&macro_tap     &kp 5>,
               <&macro_tap     &kp ENTER>;
         };

         mac_won: mac_won {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp A>,
               <&macro_tap   &kp 9>,
               <&macro_tap   &kp ENTER>;
         };

         mac_ruble: mac_ruble {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp B>,
               <&macro_tap   &kp D>,
               <&macro_tap   &kp ENTER>;
         };

         mac_rupee: mac_rupee {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp B>,
               <&macro_tap   &kp 9>,
               <&macro_tap   &kp ENTER>;
         };

         mac_naira: mac_naira {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp A>,
               <&macro_tap   &kp 6>,
               <&macro_tap   &kp ENTER>;
         };

         mac_shekel: mac_shekel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp A>,
               <&macro_tap   &kp A>,
               <&macro_tap   &kp ENTER>;
         };

         mac_baht: mac_baht {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp E>,
               <&macro_tap   &kp 3>,
               <&macro_tap   &kp F>,
               <&macro_tap   &kp ENTER>;
         };

         mac_colon: mac_colon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap   &kp 2>,
               <&macro_tap   &kp 0>,
               <&macro_tap   &kp A>,
               <&macro_tap   &kp 1>,
               <&macro_tap   &kp ENTER>;
         };

         mac_degree: mac_degree {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp B>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp ENTER>;
         };

         mac_micro: mac_micro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp 0>,
               <&macro_tap     &kp B>,
               <&macro_tap     &kp 5>,
               <&macro_tap     &kp ENTER>;
         };

         // Arbol
         mac_hl: mac_hl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp 0>,
               <&macro_tap &kp 0>,
               <&macro_tap &kp ENTER>;
         };

         mac_vl: mac_vl { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp 0>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp ENTER>;
         };

         mac_tr: mac_tr {
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp 1>,
               <&macro_tap &kp C>,
               <&macro_tap &kp ENTER>;
         };

         mac_ce: mac_ce { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp 1>,
               <&macro_tap &kp 4>,
               <&macro_tap &kp ENTER>;
         };

         mac_arr: mac_arr { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 1>,
               <&macro_tap &kp 9>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp ENTER>;
         };

         mac_stp: mac_stp { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 7>,
               <&macro_tap &kp A>,
               <&macro_tap &kp 4>,
               <&macro_tap &kp ENTER>;
         };

         mac_cur: mac_cur { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 9>,
               <&macro_tap &kp 3>,
               <&macro_tap &kp 7>, 
               <&macro_tap &kp ENTER>;
         };

         mac_bul: mac_bul { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 0>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp ENTER>;
         };

         mac_sbul: mac_sbul { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp E>,
               <&macro_tap &kp 6>,
               <&macro_tap &kp ENTER>;
         };

         mac_chk: mac_chk { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 7>,
               <&macro_tap &kp 0>,
               <&macro_tap &kp 5>, 
               <&macro_tap &kp ENTER>;
         };

         mac_fail: mac_fail { 
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>, 
               <&macro_tap &kp 7>, 
               <&macro_tap &kp 4>, 
               <&macro_tap &kp C>,
               <&macro_tap &kp ENTER>;
         };

         mac_xcl: mac_xcl {
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>,
               <&macro_tap &kp 7>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp 7>,
               <&macro_tap &kp ENTER>;
         };

         mac_inc: mac_inc {
            compatible = "zmk,behavior-macro"; 
            #binding-cells = <0>; 
            wait-ms = <20>;
            bindings =
               <&macro_press   &kp LCTRL>,
               <&macro_press   &kp LSHFT>,
               <&macro_tap     &kp U>,
               <&macro_release &kp LSHFT>,
               <&macro_release &kp LCTRL>,
               <&macro_tap &kp 2>, 
               <&macro_tap &kp 7>,
               <&macro_tap &kp 5>,
               <&macro_tap &kp 3>,
               <&macro_tap &kp ENTER>;
         };

         mac_app: mac_app {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp K_APPLICATION>;
         };
      };

      // =========================
      // ENCODERS
      // =========================
      rgb_encoder: rgb_encoder {
         compatible = "zmk,behavior-sensor-rotate";
         #sensor-binding-cells = <0>;
         bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
      };

      scroll_encoder: scroll_encoder {
         compatible = "zmk,behavior-sensor-rotate";
         #sensor-binding-cells = <0>;
         bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
         tap-ms = <100>;
      };
   
      // =========================
      // KEYMAP
      // =========================
      keymap {
         compatible = "zmk,keymap";

         // Capa base DVORAK
         default_layer {
            display-name = "DVORAK";
            bindings = <
               &ht_cls_esc 0 0  &kp SQT   &kp COMMA     &mm_dot_alter  &mm_p_run  &mm_y_close                      &mm_pg_up                  &kp F  &kp G  &kp C  &kp R  &kp L  &mm_bks_del
               &td_TAB          &td_a     &td_o         &td_e          &td_u      &td_i                 &mm_pg_lf  &kp LG(SPACE)  &mm_pg_rh   &kp D  &kp H  &kp T  &td_n  &kp S  &kp ENTER
               &td_SHFT         &kp SEMI  &ht_so_q 0 0  &kp J          &kp K      &kp X         &kp C_PP           &mm_pg_dn                  &kp B  &kp M  &kp W  &kp V  &kp Z  &kp RSHFT
                                                           &kp LCTRL   &kp LGUI   &td_Layers                                                  &kp SPACE   &kp RCTRL   &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
         };

         // FUNC | SYMB | NUM
         functions_layer {
            display-name = "FnSyNu";
            bindings = <
               &kp ESC    &kp F5      &kp F10  &kp GRAVE         &kp LBKT   &kp RBKT                            &kp LS(PG_UP)                &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LC(EQUAL)  &kp INS     &mm_bks_del
               &td_TAB    &mac_app    &kp F11  &kp LS(LA(DOWN))  &kp SLASH  &kp EQUAL             &kp LS(HOME)  &kp LG(SPACE)  &kp LS(END)   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LC(MINUS)  &mac_app    &kp ENTER
               &kp LSHFT  &mo SYMBOL  &kp F12  &td_comment       &kp BSLH   &kp MINUS   &kp C_MUTE              &kp LS(PG_DN)                &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &mo SYMBOL  &kp RSHFT
                                                  &kp LCTRL   &kp LGUI   &tog 1                                                           &kp SPACE   &kp RCTRL   &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>;
         };

         symbols_layer {
            display-name = "SYMBOL";
            bindings = <
               &mac_vl   &mac_hl   &mac_tr    &mac_ce   &mac_arr   &mac_stp                        &mmv MOVE_UP                      &mac_or     &mac_reg    &mac_tm      &mac_degree  &mac_micro  &mac_cent     
               &mac_cur  &mac_bul  &mac_sbul  &mac_chk  &mac_fail  &mac_xcl        &mmv MOVE_LEFT  &kp LG(SPACE)   &mmv MOVE_RIGHT   &mac_euro   &mac_pound  &mac_yen     &mac_baht    &mac_colon  &mac_naira
               &none     &none     &none      &none     &none      &mac_inc   &none                &mmv MOVE_DOWN                    &mac_ruble  &mac_rupee  &mac_shekel  &mac_won     &none       &none
                                                   &none   &none   &none                                                             &none   &none   &none
            >;
            sensor-bindings = <&scroll_encoder>;
         };
         
         // SYSTEM
         system_layer {
            display-name = "SYSTEM";
            bindings = <
               &bt BT_CLR_ALL   &bt BT_SEL 3     &bt BT_SEL 2     &bt BT_SEL 1     &bt BT_SEL 0     &bt BT_CLR                 &none          &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &none  &none  &none
               &rgb_ug RGB_ON   &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI  &out OUT_BLE        &none  &none  &none   &none  &none  &none  &none  &none  &none
               &rgb_ug RGB_OFF  &rgb_ug RGB_EFR  &rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &rgb_ug RGB_SPD  &out OUT_USB   &none       &none          &mkp LCLK  &mkp MCLK &mkp RCLK &none  &none  &none
                                                                                    &none   &none   &tog 2                                    &bootloader   &sys_reset   &studio_unlock
            >;
         };
      };
   };